In [1]:
%pip install pandas
import pandas as pd


df = pd.DataFrame(dict_data)

print(type(df))

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/bagjeongmin/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/bagjeongmin/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

NameError: name 'dict_data' is not defined

In [171]:
print(df)

   c0  c2  c3
0   1   4   7
1   2   5   6
2   2   6   8
3   3   7   9

In [ ]:
import pandas as pd   


# 학생 데이터
dic_data = {
    '이름': ['김철수', '이영희', '박민수', '최지연'],
    '나이': [20, 19, 21, 20],
    '성별': ['남', '여', '남', '여'],
    '점수': [85, 92, 78, 96]
}

# DataFrame 생성
df = pd.DataFrame(data)

# 출력 확인
print(df)

    이름  나이 성별  점수
0  김철수  20  남  85
1  이영희  19  여  92
2  박민수  21  남  78
3  최지연  20  여  96

In [172]:
print (pd.__version__)

2.3.0

In [173]:
import pandas as pd  

dic_student = {'김철수': 85 , '이명희': 92 , '박민수' : 78 , '최지연' : 96}

sr = pd.Series(dic_student)

print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
김철수    85
이명희    92
박민수    78
최지연    96
dtype: int64

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c0      4 non-null      int64
 1   c2      4 non-null      int64
 2   c3      4 non-null      int64
dtypes: int64(3)
memory usage: 228.0 bytes

In [175]:
import pandas as pd
#  반 친구들 정보 
# 이미 data 변수가 존재하므로, 아래 코드는 생략하거나 변수명을 변경해야 합니다.
# 예시: data2로 변수명 변경
data = {
    '이름': ['김철수', '이명희', '박민수', '최지연', '홍길동'],
    '점수': [85, 92, 78, 96, 88],
    '키': [150.5, 155.0, 148.2, 160.1, 153.7],
    '좋아하는 과목': ['수학', '과학', '영어', '미술', '체육']
}

df = pd.DataFrame(data)

print('df')
print("_" * 30)

df
______________________________

In [176]:
df.describe()

              점수          키
count   5.000000    5.00000
mean   87.800000  153.50000
std     6.870226    4.55357
min    78.000000  148.20000
25%    85.000000  150.50000
50%    88.000000  153.70000
75%    92.000000  155.00000
max    96.000000  160.10000

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       5 non-null      object
 1   점수       5 non-null      int64
 2   키        5 non-null      float64
 3   좋아하는 과목  5 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes

In [178]:
print(df.shape)

(5, 4)

In [179]:
print(df.loc[1])

이름           이명희
점수            92
키          155.0
좋아하는 과목       과학
Name: 1, dtype: object

In [180]:
print(df[df['이름'] == '이명희'])

    이름  점수      키 좋아하는 과목
1  이명희  92  155.0      과학

In [181]:
#
print(df.iloc[[1, 3], [2, 3]])

       키 좋아하는 과목
1  155.0      과학
3  160.1      미술

In [182]:
print(df[df['키'] >= 150])

    이름  점수      키 좋아하는 과목
0  김철수  85  150.5      수학
1  이명희  92  155.0      과학
3  최지연  96  160.1      미술
4  홍길동  88  153.7      체육

In [183]:
new_student = pd.Series({
    '이름': '정민호',
    '점수': 88,
    '키': 170.0, # 임의의 키
    '좋아하는 과목': '음악' # 임의의 과목
})

df = pd.concat([df, new_student.to_frame().T], ignore_index=True)

print("정민호 학생이 추가된 DataFrame:")
print(df)
print("-" * 30)

정민호 학생이 추가된 DataFrame:
    이름  점수      키 좋아하는 과목
0  김철수  85  150.5      수학
1  이명희  92  155.0      과학
2  박민수  78  148.2      영어
3  최지연  96  160.1      미술
4  홍길동  88  153.7      체육
5  정민호  88  170.0      음악
------------------------------

In [ ]:
df['점수'] = df['점수'] + 3
#  df['점수'] += 3  

print("모든 학생의 점수에 3점이 더해진 DataFrame:")
print(df)
print("-" * 30)

모든 학생의 점수에 3점이 더해진 DataFrame:
    이름  점수      키 좋아하는 과목
0  김철수  88  150.5      수학
1  이명희  95  155.0      과학
2  박민수  81  148.2      영어
3  최지연  99  160.1      미술
4  홍길동  91  153.7      체육
5  정민호  91  170.0      음악
------------------------------

In [185]:
df ['나이'] = [20,22,14,25,12,22]

In [186]:
df['성별'] = ['남', '여', '남', '여', '남', '남']

In [189]:
def sh_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    else:  # 80 미만
        return 'C'

df['등급'] = df['점수'].astype(int).apply(sh_grade)

print("등급 열이 추가된 DataFrame:")
print(df)

등급 열이 추가된 DataFrame:
    이름  점수      키 좋아하는 과목  나이 성별 등급
0  김철수  88  150.5      수학  20  남  B
1  이명희  95  155.0      과학  22  여  A
2  박민수  81  148.2      영어  14  남  B
3  최지연  99  160.1      미술  25  여  A
4  홍길동  91  153.7      체육  12  남  A
5  정민호  91  170.0      음악  22  남  A